body{
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', sans-serif;

}

nav {
    position: static;
    background-color: rgb(41, 40, 40);
    color: white;
    margin: 0px;
    padding: 0px;
    width: 100%;
    z-index: 5;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

nav ul li {
    
    margin: 0px;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 30px;
}

nav ul li a:hover {
    background-color: #cfc8c8;
    color: black;
}

#animal-gallery{
    padding: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-wrap: wrap;
}